@use "../abstracts/" as *;

.header {
   height: 95svh;
   width: 100%;
   margin-top: 5vh;
   display: grid;
   place-content: center;
   grid-template-rows: 45% 40% 15%;

   &__title {
      place-self: center;
      height: fit-content;
      width: 16ch;
      font-size: clamp(2rem, calc(1.5rem + 2vw), 5rem);
      letter-spacing: 0.2ch;
      color: var(--secondary);
      text-align: center;
      text-shadow: 0.1em 0.1em var(--shadow);
   }

   &__textbox {
      place-self: start;
      width: 80%;
      margin-inline: auto;
      padding-inline: 0.5em;
      padding-block: 1.5em;
      border-left: 0.25em solid var(--secondary);
      border-right: 0.25em solid var(--secondary);
      transform: scaleY(0);
      overflow-x: hidden;
      @include breakpoint("medium") {
         width: 100%;
         padding-inline: 1em;
         padding-block: 2em;
         border-left: 0.5em solid var(--secondary);
         border-right: 0.5em solid var(--secondary);
      }
   }

   &__text {
      font-size: clamp(0.75rem, calc(0.75rem + 0.5vw), 1.25rem);
      color: var(--secondary);
      text-shadow: 0.1em 0.1em var(--shadow);
      transform: translateX(-100%);
      opacity: 0;
   }

   &__scroll {
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      place-self: center;
      color: var(--secondary);
      font-size: 0.8em;
      padding: 1em;
      transform: translateY(100%);
      opacity: 0;
      transition: 250ms background-color ease-in-out, 250ms color ease-in-out;
      @include breakpoint("medium") {
         font-size: 1em;
      }
      & > svg {
         width: 1em;
         height: 0.8em;
         padding-top: 0.25em;
         margin-inline: auto;
         fill: var(--secondary);
         @include breakpoint("medium") {
            width: 1.5em;
            height: 1em;
         }
      }
   }
   &__scroll:hover {
      background-color: var(--secondary);
      color: var(--primary);
   }
   &__scroll:is(:hover) > svg {
      fill: var(--primary);
   }
}
